
@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims
<h1>Вітаємо в менеджері персонального технічного розвитку</h1>
<h2>Щоб розпочати роботу перейдіть у свій  <a asp-area="" asp-controller="Employees" asp-action="Info" asp-route-login="@User.FindFirst(x => x.Type == ClaimTypes.Name).Value">профіль</a></h2>
